body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* This makes the white box float */
#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}